.pagination {
  float: right;
  margin: 0 0 5px;

  li {
    a, span {
      border: none;
      font-size: 13px;
      min-width: 30px;
      min-height: 30px;
      color: #999;
      margin: 0 2px;
      line-height: 30px;
      border-radius: 2px !important;
      text-align: center;
      padding: 0 6px;
    }

    i {
      font-size: 16px;
      padding-top: 6px
    }

    a:hover {
      color: #666;
    }

    &.active span {
      background: #03A9F4;

      &:hover {
        background: #0397d6;
      }
    }

    &.disabled i {
      color: #ccc;
    }
  }
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}
