@import "~bootstrap/scss/bootstrap";
@import "table";
@import "modal";
@import "pagination";
@import "form";
@import "alert";

body {
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}
